<!doctype html>
<html lang="en">
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
                <title>Customer Complaints</title>
        </head>
        <body>

                <nav class="navbar navbar-dark bg-dark">
                        <span class="navbar-brand mb-0 h1">Welcome to Syndicate bank's customer complaint dashboard</span>
                        <ul class="nav navbar-nav navbar-right">
                        <li class="active" align="right"><img src="{{url_for('static', filename='img/logo.png') }}"></li></ul>
                </nav>

                <br><br>

                <div class='container'>
                        <table border = 1>
                                <thead><tr><th>Complaint</th><th>Department</th><th>Date</th><th>Resolved</th><th>Resolve Date</th></tr></thead>
                                <tbody>
                                        {% for _,i,j,_,k,l,m in complaints %}
                                                <tr><td>{{i}}</td><td>{{j}}</td><td>{{k}}</td><td>{{l}}</td><td>{{m}}</td></tr>
                                        {% endfor %}

                                </tbody>
                        </table>
                                <br><br><br><br><br><br><br><br><br>
                        <div class='row'>
                                <hr>
                                <div class='col-md-0'>
                                <a href = {{url_for('new')}}>
                                        <button type="button" class="btn btn-primary">Launch new complaint</button>
                                </div>

                                <div class="col-md-10">
                                        <a href="{{url_for('logout')}}"><button class="btn btn-danger">Log out</button></a></li>
                                </div>
                        </div>



                </div>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
</html>
